*
{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
   
    
}
header
{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: black;
    color: #fff;
    padding: 3px;
    
   
}
.azm-logo img
{
    height: 45px;
    width: 110px;
    padding: 0 10px;
    border: 1px solid transparent;

}
.azm-logo img:hover
{
    border: solid 1px #fff;
}
.azm-location
{
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    
}
.azm-location a
{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    
}
.azm-location:hover
{
    border: 1px solid #fff;
}
.form
{
    display: flex;
}
.form select
{
    width: 50px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: lightgrey;
    
}
.form input
{
    height: 40px;
    width: 550px;
    border: none;
    outline: none;
    padding: 10px;
}
.form a
{
    color: #000;
    font-size: 25px;
    font-weight: lighter;
    background-color: #febd68;
    padding: 5px 15px 0 15px;
    border-radius: 0 5px 5px 0;
}
.azm-language select
{
    width: 60px;
    height: 40px;
    padding: 0 3px;
    margin: 0 20px;
    color: #fff;
    background-color: black;
    border: none;
    outline: none;
    border: 1px solid transparent;
}
.azm-language:hover select
{
    border: 1px solid #fff;
}
.azm-account
{
    position: relative;
    display: inline-block;
    
}

.dropdown-content
{
    width: 400px;
    height: 300px;
    display: none;
    position: absolute;
    background-color: lightgrey;
    box-shadow: 0px 0 5px grey;
    padding: 10px 10px;
    right: -35px;
    top: 38px;
    border-radius: 5px;
    z-index: 1;
    

}
.dropdown:hover .dropdown-content
{
    display: block;


}
.azm-box select
{
    width: 140px;
    height: 48px;
    position: relative;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
}
.azm-box:hover select
{
    border: 1px solid #fff;

}
.azm-order
{
    margin: 0 10px;
    padding: 6px 10px;
    border: 1px solid transparent;
}
.azm-order a
{
    text-decoration: none;
    color: #fff;
 
}
.azm-order:hover
{
    border: 1px solid white;
}
.azm-cart
{
    padding: 2px 10px;
    display: flex;
    border: 1px solid transparent;
}
.azm-cart:hover
{
    border: 1px solid #fff;
}
.head
{
    display: flex;
    align-items: center;
    background-color: #222f3e;
}
ul
{
    display: flex;
    align-items: center;
    
}
ul a li
{
    list-style: none;
    
}
ul a
{
    text-decoration: none;
    margin: 5px;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    border: solid 1px transparent;
}
ul a:hover
{
    border: 1px solid #fff;
}
.prime-drop
{
    position: relative;
    display: inline-block;
}
.prime-content
{
    width: 300px;
    height: 300px;
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0 5px grey;
    z-index: 2;
}
.prime-content h1 a img 
{
    width: 260px;
    height: 260px;
    margin: 20px 0 0 9px;
    border-radius: 5px;
}
.prime-content a
{
    color: whit;
}
.prime-drop:hover .prime-content
{
    display: block;
}
.head .photo a
{
    border: none;
    margin: 5px 0 0 40px;
}
.head .photo img
{
    border: 1px solid transparent;
}
.head .photo img:hover
{
    border: 1px solid #fff;
}
.back-img
{
    width: 100%;
    position: relative;
    display: inline-block;
}
.back-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    backdrop-filter: blur(10px);
    
  }
.back-img img
{
    width: 100%;
    display: block;
    width: 100%;
    height: auto;
   
   
}
.azm-boxes 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 355px;
}
.box
{
    width: 23%;
    height: 400px;
    background-color: rgb(240, 238, 238);
    
}
.back-color
{
    height: 100%;
 
}
.box h4
{
    
    margin: 20px 5px 15px;
    font-size: 20px;
}
.box img
{
    width: 80%;
    height: 25%px;
    flex-wrap: wrap;
    margin: 7px 0 0 9.5px;
}
.box h6
{
    width: 90%;
    margin: 0 0 20px 10px;
    font-weight: 500;
}
.line-main
{
    display: flex;
}